* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "AGLight", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #333;
}

button {
    outline: 0;
    cursor: pointer;
}

a {
    color: #999;
    text-decoration: none;
}

@font-face {
    font-family: "AGLight";
    src: url("/asset/font/AtlasGrotesk-Light-Web.woff2") format("woff2");
}

@font-face {
    font-family: "AGThin";
    src: url("/asset/font/AtlasGrotesk-Thin-Web.woff2") format("woff2");
}