.cmsview article.form {}

.cmsview article.form > li {
    padding: 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px dotted #ccc;
    list-style: none;
    vertical-align: top;
    font-size: initial;
}

.cmsview article.form > li + li {
    margin-top: 30px;
}

.cmsview article.form li > h3 {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 100;
}

.cmsview article.form li > small {
    display: block;
    font-size: 12px;
    color: #bbb;
}

.cmsview article.form li > h3 + small {
    margin-top: -24px;
}

.cmsview article.form p,
.cmsview article.form input,
.cmsview article.form select {
    font-size: 14px;
}

.cmsview article.form p,
.cmsview article.form input {
    padding-left: 2px;
    height: 30px;
}

.cmsview article.form p,
.cmsview article.form button {
    display: inline-block;
}

.cmsview article.form p {
    margin: 0;
    line-height: 30px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.cmsview .modifiable.modify article.form p,
.cmsview .modifiable article.form input,
.cmsview .modifiable article.form textarea,
.cmsview .modifiable article.form select,
.cmsview .modifiable article.form li > h3 + small {
    display: none;
}

.cmsview article.form input,
.cmsview article.form textarea,
.cmsview article.form select {
    width: 100%;
    padding: 10px 12px;
    background-color: #70ebed;
    border: 0;
    outline: 0;
}

.cmsview article.form input[type=file] {
    cursor: pointer;
    height: auto;
}

.cmsview .modifiable.modify article.form input,
.cmsview .modifiable.modify article.form textarea,
.cmsview .modifiable.modify article.form select,
.cmsview .modifiable.modify article.form li > h3 + small  {
    display: block;
}

.cmsview .modifiable.modify article.form input[type=checkbox] {
    display: initial;
}

.cmsview article.form input::-webkit-input-placeholder,
.cmsview article.form textarea::-webkit-input-placeholder {
    color: #ccc;
}

.cmsview article.form input:-ms-input-placeholder,
.cmsview article.form textarea:-ms-input-placeholder {
    color: #ccc;
}

.cmsview article.form input::-ms-input-placeholder,
.cmsview article.form textarea::-ms-input-placeholder {
    color: #ccc;
}

.cmsview article.form input::placeholder,
.cmsview article.form textarea::placeholder {
    color: #ccc;
}

.cmsview article.form input:disabled,
.cmsview article.form input[disabled] {
    color: #999;
    -webkit-text-fill-color: #999;
}

.cmsview article.form input + input {
    margin-top: 10px;
}

.cmsview article.form textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    line-height: 1.5em;
    font-size: initial;
}

.cmsview article.form button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px dotted #ccc;
    color: #777;
}

.cmsview article.form p ~ button {
    margin-left: 13px;
}

.cmsview article.form button + button {
    margin-left: 4px;
}

.cmsview article.form button:hover {
    color: #fff;
    background-color: #333;
}

.cmsview article.form select {
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
}

@media (max-width: 769px) {

    .cmsview article.form > li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cmsview article.form li > h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .cmsview article.form p,
    .cmsview article.form input,
    .cmsview article.form select {
        font-size: 13px;
    }

}