.cmsview article.listtable {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 14px;
}

.cmsview article.listtable li {
    width: 100%;
    padding: 5px;
}

.cmsview article.listtable li.disabled {
    cursor: not-allowed;
}

.cmsview article.listtable li.disabled a {
    pointer-events: none;
}

.cmsview article.listtable li a {
    display: block;
    padding: 10px 14px;
    width: 100%;
    border-bottom: 1px dotted #007b8d;
    color: #333;
}

.cmsview article.listtable li a:hover {}

.cmsview article.listtable li a small {
    float: right;
    color: #999;
}

@media (max-width: 769px) {

    .cmsview article.listtable li a {
        font-size: 11px;
    }

}