nav.cmsmenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    margin-top: 70px;
    padding-top: 50px;
    width: 200px;
    min-width: 18%;
    background-color: #006b7d;
}

nav.cmsmenu a {
    display: block;
    padding: 16px 0;
    padding-right: 40px;
    text-align: right;
    font-weight: 100;
    color: #fff;
}

nav.cmsmenu a.work {
    background-color: #004b5d;
}

nav.cmsmenu a:hover {}

@media (max-width: 769px) {

    nav.cmsmenu {
        bottom: auto;
        right: 0;
        padding-top: 0;
        width: auto;
    }

    nav.cmsmenu a {
        display: inline-block;
        padding: 10px 30px;
        font-size: 14px;
    }

}