article.cmsview {
    margin-top: 70px;
    margin-left: 200px;
    padding-top: 40px;
}

article.cmsview .container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    width: 900px;
    min-height: 300px;
}

article.cmsview .container > section {
    position: relative;
    margin-top: 90px;
    padding: 60px 50px;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

article.cmsview .container > section + section {
    margin-top: 80px;
}

article.cmsview .container > section header,
article.cmsview .container > section header::before,
article.cmsview .container > section header > * {
    vertical-align: bottom;
}

article.cmsview .container > section header {
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    height: 90px;
    color: #007b8d;
}

article.cmsview .container > section + section header {
    top: -80px;
    height: 80px;
}

article.cmsview .container > section header::before {
    display: inline-block;
    height: 100%;
    content: "";
}

article.cmsview .container > section header h1,
article.cmsview .container > section header h2 {
    display: inline-block;
    margin: 0 0 12px 8px;
    font-weight: 100;
}

article.cmsview .container > section header h1 {
    font-size: 40px;
}

article.cmsview .container > section header h2 {
    font-weight: normal;
    font-size: 24px;
}

article.cmsview .container > section header nav {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 18px;
}

article.cmsview .container > section header nav a,
article.cmsview .container > section header nav button {
    display: inline-block;
    margin-left: 4px;
    padding: 0 16px;
    height: 36px;
    border: 0;
    vertical-align: bottom;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    background-color: #007b8d;
}

@media (max-width: 1025px) {

    article.cmsview .container {
        width: auto;
        max-width: 900px;
    }

}

@media (max-width: 769px) {

    article.cmsview {
        margin-left: 0;
    }

    article.cmsview .container > section {
        padding: 40px 30px;
    }

    article.cmsview .container > section header h1 {
        font-size: 32px;
    }

    article.cmsview .container > section header nav a,
    article.cmsview .container > section header nav button {
        margin-left: 2px;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

}