.app > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #70ebed;
    color: #fff;
}

.app > header nav {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    font-size: 0;
}

.app > header nav.prefix {
    padding-left: 50px;
}

.app > header nav.suffix {
    padding-top: 18px;
    padding-right: 40px;
    float: right;
}

.app > header nav > a,
.app > header nav > button {
    display: inline-block;
}

.app > header nav.prefix > a {
    height: 100%;
}

.app > header nav.suffix > a,
.app > header nav.suffix > button {
    padding: 10px 30px;
    height: 40px;
    background-color: #007b8d;
    vertical-align: top;
    font-size: 15px;
    color: #fff;
}

.app > header nav > button {
    border: 0;
    font-weight: lighter;
}

.app > header nav > button + button,
.app > header nav > button + a,
.app > header nav > a + a,
.app > header nav > a + button {
    margin-left: 20px;
}

.app > header nav > a::after,
.app > header nav > button::after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    content: "";
}

.app > header nav > a img {
    height: 44px;
    vertical-align: middle;
}

@media (max-width: 680px) {

    .app > header nav.prefix {
        padding-left: 20px;
    }

    .app > header nav.suffix {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 20px;
    }

    .app > header nav > a img {
        height: 36px;
    }

    .app > header nav.suffix > a,
    .app > header nav.suffix > button {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }

    .app > header nav > button + button,
    .app > header nav > button + a,
    .app > header nav > a + a,
    .app > header nav > a + button {
        margin-left: 10px;
    }

}