.app.home {}

.app.home article {
    padding-top: 60px;
}

.app.home article section {
    padding-top: 60px;
    padding-bottom: 80px;
}

.app.home section.cover,
.app.home section.feature2::before {
    background-size: cover;
    background-position: center;
    background-image: url("/asset/image/152506048366277714-2.png");
}

.app.home section.cover {
    padding-top: 100px;
    height: 500px;
    text-align: center;
    color: #fff;
}

.app.home section.cover h1 {
    font-weight: 400;
    font-size: 56px;
}

.app.home section.cover p {
    font-weight: 100;
    font-size: 20px;
}

.app.home section.feature1 {
    background-color: #fff;
}

.app.home section.feature2 {
    position: relative;
    color: #fff;
}

.app.home section.team {
    background-color: #fff;
}

.app.home section.contact {
    background-color: #fff;
    border-top: 1px solid #ccc;
    text-align: center;
}

.app.home section.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

.app.home article section .container {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    font-size: 0;
}

.app.home article section h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 100;
}

.app.home article section .container span {
    display: inline-block;
    padding: 20px;
    width: 25%;
    vertical-align: top;
    text-align: center;
    font-size: initial;
}

.app.home article section .container span img {
    height: 100px;
}

.app.home article section .container span h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.app.home article section .container span p {
    color: #007b8d;
    text-align: justify;
}

.app.home section.feature2 .container span p {
    color: #ddd;
}

.app.home section.feature2::before,
.app.home section.feature2::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}

.app.home section.feature2::before {
    z-index: -1;
    opacity: 0.1;
}

.app.home section.feature2::after {
    z-index: -2;
    background-color: #007b8d;
}

.app.home section.team .container span {
    position: relative;
    padding-left: 200px;
    width: 50%;
    text-align: left;
    font-size: 14px;
}

.app.home section.team .container span img {
    position: absolute;
    top: 40px;
    left: 0;
    width: 180px;
    height: auto;
}

.app.home section.team .container span h3 {
    margin-bottom: 10px;
    font-size: 32px;
}

.app.home section.contact p {
    font-size: 24px;
}

.app.home section.contact button {
    margin-top: 20px;
    padding: 16px 60px;
    background-color: #f9746a;
    border: 0;
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
}

@media (max-width: 1025px) {

    .app.home article section .container {
        width: 100%;
    }

    .app.home section.team .container span {
        padding-left: 220px;
        padding-right: 30px;
    }

    .app.home section.team .container span img {
        left: 20px;
    }

}

@media (max-width: 769px) {

    .app.home article section .container span {
        width: 50%;
    }

    .app.home section.team .container span {
        width: 100%;
    }

    .app.home section.team .container span + span {
        margin-top: 30px;
    }

}

@media (max-width: 680px) {

    .app.home section.cover {
        position: relative;
        padding-top: 10px;
        height: 75vh;
        text-align: left;
    }

    .app.home section.cover h1,
    .app.home section.cover p {
        position: absolute;
        left: 30px;
        width: 80%;
    }

    .app.home section.cover h1 {
        top: 0px;
        font-size: 72px;
    }

    .app.home section.cover p {
        bottom: 20px;
        font-size: 14px;
    }

    .app.home article section {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .app.home article section h2 {
        font-size: 24px;
    }

    .app.home article section .container span {
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
    }

    .app.home section.feature1 .container span p,
    .app.home section.feature2 .container span p {
        font-size: 14px;
    }

    .app.home article section .container span img {
        height: 80px;
    }

    .app.home section.team .container span {
        padding-left: 140px;
        padding-right: 40px;
    }

    .app.home section.team .container span img {
        left: 40px;
        width: 80px;
    }

    .app.home section.contact p,
    .app.home section.contact button {
        font-size: 18px;
    }

    .app.home section.contact button {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
    }

    .app.home section.footer {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
    }

}