<section class="member modifiable" :class="{'modify':cmsmodify}">
    <header>
        <h1>會員</h1>
        <nav>
            <a href="#/memberlist">返回</a>
            <button v-if="!cmsmodify&&((member.rolelist||[]).indexOf('admin')<0)" @click="onModifyClick()">編輯</button>
            <button v-if="cmsmodify" @click="onDeleteClick()">刪除</button>
            <button v-if="cmsmodify" @click="onModifyCancel()">取消</button>
            <button v-if="cmsmodify" @click="onUpdateClick()">完成更新</button>
        </nav>
    </header>
    <article class="form">
        <li>
            <h3>信箱</h3>
            <p v-text="member.email"></p>
            <input type="email" v-model="member.email" disabled />
        </li>
        <li>
            <h3>姓名</h3>
            <p>
                <span v-text="member.lastName"></span>
                <span v-text="member.firstName"></span>
            </p>
            <input type="text" v-model="member.lastName" placeholder="姓氏" />
            <input type="text" v-model="member.firstName" placeholder="名字" />
        </li>
        <li>
            <h3>電話</h3>
            <p v-text="member.phone"></p>
            <input type="tel" v-model="member.phone" disabled />
        </li>
        <li>
            <h3>性別</h3>
            <p v-text="GENDER_DICTIONARY[member.gender]"></p>
            <select v-model="member.gender">
                <option value="" v-if="!member.gender">---- 選擇性別 ----</option>
                <option :value="key" v-for="(item, key) in GENDER_DICTIONARY" v-text="item"></option>
            </select>
        </li>
        <li>
            <h3>生日</h3>
            <p v-text="member.birth"></p>
            <input type="date" v-model="member.birth" />
        </li>
        <li>
            <h3>地址</h3>
            <p v-text="member.address"></p>
            <input type="text" v-model="member.address" />
        </li>
    </article>
</section>