<nav class="cmsmenu">
    <template v-if="tokenUser.status==='enable'">
        <a href="#/" :class="{'work':(route==='cms')}">個人中心</a>
        <a href="#/memberlist" :class="{'work':(route==='cmsmemberlist')}" v-if="tokenUser.rolelist.indexOf('admin')>=0||tokenUser.rolelist.indexOf('manager')>=0">會員列表</a>
    </template>
    <template v-if="tokenUser.status==='init'">
        <a href="#/" :class="{'work':(route==='cms')}">個人中心 (驗證身份)</a>
    </template>
</nav>