<section class="memberlist">
    <header>
        <h1>會員管理</h1>
        <nav></nav>
    </header>
    <article class="listtable">
        <li :class="{'disabled':item.disabled}" v-for="item in memberlist">
            <a :href="'#/member/'+item.id">
                <span v-text="item.profile.nickname||(item.profile.last_name+item.profile.first_name)"></span>
                <small v-text="item.updated_at"></small>
            </a>
        </li>
    </article>
</section>