<section class="profile modifiable" :class="{'modify':cmsmodify}">
    <header>
        <h1>個人中心</h1>
        <nav>
            <button v-if="(tokenUser.status==='enable')&&!cmsmodify" @click="onModifyClick()">編輯</button>
            <button v-if="cmsmodify" @click="onModifyCancel()">取消</button>
            <button v-if="cmsmodify" @click="onUpdateClick()">完成更新</button>
        </nav>
    </header>
    <article class="form">
        <li>
            <h3>信箱</h3>
            <p v-text="tokenUser.email"></p>
            <input type="email" v-model="tokenUser.email" disabled />
            <button @click="onEmailVerify()" v-if="tokenUser.emailVerified===false">進行驗證</button>
            <button @click="onEmailSend()" v-if="tokenUser.emailVerified===false">重發驗證信</button>
        </li>
        <li>
            <h3>姓名</h3>
            <p v-text="tokenUser.lastName+' '+tokenUser.firstName"></p>
            <input type="text" v-model="tokenUser.lastName" placeholder="姓氏" />
            <input type="text" v-model="tokenUser.firstName" placeholder="名字" />
        </li>
        <li>
            <h3>電話</h3>
            <p v-text="tokenUser.phone"></p>
            <input type="tel" v-model="tokenUser.phone" disabled />
            <button @click="onPhoneVerify()" v-if="tokenUser.phoneVerified===false">進行驗證</button>
            <button @click="onPhoneSend()" v-if="tokenUser.phoneVerified===false">重發驗證信</button>
        </li>
        <li v-if="tokenUser.status==='enable'">
            <h3>性別</h3>
            <p v-text="GENDER_DICTIONARY[tokenUser.gender]"></p>
            <select v-model="tokenUser.gender">
                <option value="" v-if="!tokenUser.gender">---- 選擇性別 ----</option>
                <option :value="key" v-for="(item, key) in GENDER_DICTIONARY" v-text="item"></option>
            </select>
        </li>
        <li v-if="tokenUser.status==='enable'">
            <h3>生日</h3>
            <small>(請填真實年月日)</small>
            <p v-text="tokenUser.birth"></p>
            <input type="date" v-model="tokenUser.birth" />
        </li>
        <li v-if="tokenUser.status==='enable'">
            <h3>地址</h3>
            <p v-text="tokenUser.address"></p>
            <input type="text" v-model="tokenUser.address" />
        </li>
    </article>
</section>