<article class="cmsview">
    <div class="container">
        <view-cmsprofile v-if="route==='cms'"></view-cmsprofile>
        <view-cmsmemberlist v-if="route==='cmsmemberlist'"></view-cmsmemberlist>
        <view-cmsmember v-if="route==='cmsmember'"></view-cmsmember>
    </div>
</article>