<header>
    <nav class="prefix">
        <a href="/">
            <img src="/asset/image/moneyLogo.png" />
        </a>
    </nav>
    <nav class="suffix">
        <button @click="onLoginClick()" v-if="!sign">登入</button>
        <a href="/cms/" v-if="sign">管理</a>
        <button @click="onLogoutClick()" v-if="sign">登出</button>
    </nav>
</header>