<div class="popup" v-if="popupstats.length" @click="onPopupClick($event)">
    <section class="login" v-if="popupstats.indexOf('login')>=0">
        <header>
            <h3>登入</h3>
        </header>
        <form action="">
            <label>帳號</label>
            <input type="email" placeholder="account" v-model="loginAccount" />
            <label>密碼</label>
            <input type="password" placeholder="password" v-model="loginPassword" />
            <nav class="sns">
                <button type="button" @click="onPopupSocialoginClick('facebook')">
                    <img src="/asset/image/facebook-square.svg" />
                    <span>以 facebook 繼續</span>
                </button>
                <button type="button" @click="onPopupSocialoginClick('google')">
                    <img src="/asset/image/google.svg" />
                    <span>以 Google 繼續</span>
                </button>
            </nav>
            <button class="register" type="button" @click="onGotoRegister()">註冊帳號</button>
            <button type="submit" @click="onPopupLoginSubmit($event)"></button>
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupLoginConfirm()">確認</button>
        </footer>
    </section>
    <section class="register" v-if="popupstats.indexOf('register')>=0">
        <header>
            <h3>註冊</h3>
        </header>
        <form>
            <label>帳號</label>
            <input type="email" v-model="registerAccount" placeholder="e-mail" />
            <label>姓氏</label>
            <input type="text" v-model="registerLastname" placeholder="姓" />
            <label>名字</label>
            <input type="text" v-model="registerFirstname" placeholder="名" />
            <label>電話</label>
            <input type="tel" v-model="registerPhone" placeholder="手機號碼" />
            <label>地址</label>
            <input type="text" v-model="registerAddress" placeholder="通訊地址" />
            <template v-if="!socialoginID">
                <label>密碼</label>
                <input type="password" v-model="registerPassword" placeholder="至少8位" />
            </template>
            <template v-if="!socialoginID">
                <label>確認密碼</label>
                <input type="password" v-model="registerRepassword" placeholder="輸入相同密碼" />
            </template>
        </form>
        <footer>
            <button class="cancel" @click="onPopupRegisterCancel()">取消</button>
            <button class="confirm" @click="onPopupRegisterConfirm()">確認</button>
        </footer>
    </section>
    <section class="prompt" v-if="popupstats.indexOf('prompt')>=0">
        <form>
            <p v-text="popupPromptMessage"></p>
            <input type="text" v-model="popupPromptValue" />
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupPromptConfirm()">確認</button>
        </footer>
    </section>
    <section class="picture" v-if="popupstats.indexOf('picture')>=0">
        <form>
            <img :src="popupPictureURL" />
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupPictureConfirm()">確認</button>
        </footer>
    </section>
    <section class="confirm" v-if="popupstats.indexOf('confirm')>=0">
        <form>
            <p v-text="popupConfirmMessage"></p>
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupConfirmConfirm()">確認</button>
        </footer>
    </section>
    <section class="alert" v-if="popupstats.indexOf('alert')>=0">
        <form>
            <p v-text="popupAlertMessage"></p>
        </form>
        <footer>
            <button class="confirm" @click="onPopupAlertConfirm()">確認</button>
        </footer>
    </section>
    <section class="loading" v-if="popupstats.indexOf('loading')>=0"></section>
</div>